:host {
  display: block;
  height: 100dvh;
}

.layout {
  display: grid;
  grid-template-columns: 80px 1fr;
  height: 100dvh;
  background: var(--bg);
  color: var(--fg);
  overflow: hidden;
  padding: 12px; /* provides the outer rounding space */
}

.layout__sidebar {
  grid-column: 1 / 2;
  height: 100%;
}

.layout__content {
  grid-column: 2 / 3;
  padding: 16px;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}
